body {
          background-color: #AEBBC7;
          background-repeat: no-repeat;
          background-position: right top;
     }

h1, h2, p    {
               color: #003359;
               text-align: center;
               font-family: Tahoma, Geneva, sans-serif;
          }

a:link    {
               color: #5E7703;
          }

a:visited {
               color: #003359;
          }